@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:900,Thin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Oswald|Gruppo');
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
@import url('https://fonts.googleapis.com/css?family=Patua+One|Staatliches|Cairo|Archivo+Black|Acme');
body {
    height: 100%;
    background: white;
    color: black;
    font-family: "PT Sans","Oswald","Roboto", "Open Sans", sans-serif;
}

.titletext {
	font-family: "Orbitron";
    font-weight: 900;
	font-size: 36px;
}
