@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:900,Thin');

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans,Inconsolata:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Bangers|Bowlby+One+SC'); */
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans|Oswald|Gruppo'); */
/* @import url('https://fonts.googleapis.com/css?family=Orbitron:900'); */
/* @import url('https://fonts.googleapis.com/css?family=Patua+One|Staatliches|Cairo|Archivo+Black|Acme'); */
body,p {
    background: #000000;
    color: #bbbbbb;
    font-family: "Roboto", "Roboto", sans-serif;
    height: 100%;
    font-size: 18pt;
    /* letter-spacing: 3px; */
    /* font-weight: 500; */
}

/* unvisited link */
a:link {
  color: #bbbbbb;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #bbbbbb;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 235px;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman';
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}
#top {
  top: -45px;
  left: -50%;
}

/*
#bottom {
  top: 25px;
  left: -50%;
}

#left {
  top: -8px;
  right: 120%;
}

#right {
  top: -8px;
  left: 120%;
} */

.hover-text {
  position: relative;
  display: inline-block;
  margin: 0px;
  text-align: center;
}


.gtitle {
    font-family: "Roboto";
    font-size: 24pt;
    font-weight: 900;
}

.topnav {
    background-color: #333333;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .active {
    background-color: #F59231;
    color: white;
}

.infopage {
    background-color: #eeeeee;
    border: 8px solid #888888;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: auto;
    padding: 20px;
    width: 800px;
}

.infohdr {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
}

.infosubhdr {
    font-family: 'Helvetica', san-serif;
    font-weight: bold;
}
